grafana:
  enabled: true
  adminUser: admin
  adminPassword: admin
  additionalDataSources:
    - name: Tempo
      type: tempo
      access: proxy
      url: http://tempo.monitoring.svc.cluster.local:3200
  grafana.ini:
    auth.anonymous:
      enabled: true
    rendering:
      server_url: http://grafana-renderer.monitoring.svc.cluster.local:8081/render
      callback_url: http://prometheus-grafana.monitoring.svc.cluster.local/

prometheus:
  enabled: true
  prometheusSpec:
    podMonitorSelectorNilUsesHelmValues: false
    serviceMonitorSelectorNilUsesHelmValues: false
    maximumStartupDurationSeconds: 300

alertmanager:
  enabled: false
